$green-color: #4e9846;
$green-dark-color: #3b773b;
$green-light-color: #a6cba2;
$green-lightest-color: #ecf5ec;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #333333;
$gray-light-color: #666666;
$gray-lighter-color: #888888;
