@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

.eo-text-small {
  font-size: $font-small;
}
.eo-text-medium {
  font-size: $font-medium;
}
.eo-text-large {
  font-size: $font-large;
}

.eo-flex-center-inline {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.eo-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $black-color;
  box-sizing: border-box;
}
